$yellow: #ffc952;
$blue: #47b8e0;
$purple: #34314c;
$coral: #ff7473;
$gray: #6b6b6b;
$lightgray: #F1F0EF;
$red: #FF6868;

$yellowDUE:#D9D75A; 
$yellowPRO: #CFCE5C;
$yellowTRI: #FEB9C4;

$blueDUE: #9E9FDF;
$bluePRO: #AEAFDD;
$blueTRI: #FEB9C4;

$purpleDUE: #32334B;
$purplePRO: #32334B;
$purpleTRI: #323638;

$coralDUE: #A6A571;
$coralPRO: #898975;
$coralTRI: #FD728B;

$lightgrayDUE: #F0F0EE;
$lightgrayPRO: #EFEFEF;
$lightgrayTRI: #F0EFEF;

$redDUE: #A09F66;
$redPRO: #80806A;
$redTRI: #FD6483;





